body {
    width: 900px; 
    margin: 0 auto;
    text-align: center;
  }
  
  header, main, footer {
    border-radius: 5px;
  }
  
  header {
    background-color: chocolate; 
    height: 120px;
    text-align: center;
  }
  
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px white;
  }
  
  nav li {
    display: inline-block;
    padding: 7px 25px 7px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }
  
  ul {
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    width: 95%; 
    margin: 0 auto;
    border-radius: 5px; 
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  main {
    background-color: rgb(255, 249, 249);
    padding: 10px;
    width: 90%;
    margin: 0 auto; 
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  footer {
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 3px;
  }
  
  footer {
  background-color: aliceblue;
  border-radius: 3px;
  }
  
  #special {
    background-color: bisque;
    border-radius: 3px
  }